<div ng-controller="QuestionsController">
	<h2>Post your Question here !!!</h2>
	
	<form id="postQuerryForm">
		<textarea id="tid" name="tid" cols="100" rows="10" ng-model="user.question"></textarea>
		<input type='button' value='Post Query' ng-click="postQuerry(user)"></input>
	</form>
	
	<table style="width: 400px">
		<tr ng-repeat="user in users">
		<td>{{user.question}}</td>
		<td><a ng-href="http://localhost:8080/vmongo/index.html#/response?ques={{user.question}}">Post/View response</a></td>
		</tr>
	</table>
	
</div>